<div class="divtables">
  <td class="boton">
    <button  class="btn btn-outline-primary" data-toggle="modal" (click)="download()">Imprimir lista</button>
  </td>
  <h3 class="tablas">Lista de estudiantes Matriculados</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nombre</th>
      <th scope="col">Identificación</th>
      <th scope="col">Estado</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let estudiante of estudiantes">
      <td>{{estudiante.CodigoEstudiante}}</td>
      <td>{{estudiante.Nombre}}</td>
      <td>{{estudiante.Cedula}}</td>
      <td>{{estudiante.Estado}}</td>
    </tr>

    </tbody>
  </table>
</div>
