<div class="divtables">
  <div class="modal fade" id="client-information" tabindex="-1" role="dialog" aria-labelledby="client-informationTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Nuevo entrenador</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>


        <div class="modal-body">
          <div class="form-group">
            <input class="form-control mr-sm-2" id="name" type="text" [(ngModel)]="entrenadorToCreate.codigoEntrenador" placeholder="Código">
          </div>
          <div class="form-group">
            <input class="form-control mr-sm-2" id="lastName" type="text" [(ngModel)]="entrenadorToCreate.nombre" placeholder="Nombre">
          </div>

          <div class="form-group">
            <input  class="form-control mr-sm-2" id="cedula" type="text" [(ngModel)]="entrenadorToCreate.cedula" placeholder="Identificación">
          </div>

          <div class="form-group">
            <input class="form-control mr-sm-2" id="telefono" type="text" [(ngModel)]="entrenadorToCreate.telefono" placeholder="Télefono">
          </div>

          <div class="form-group">
            <input class="form-control mr-sm-2" id="direccion" type="text" [(ngModel)]="entrenadorToCreate.direccion" placeholder="Direcion">
          </div>
          <div class="form-group">
            <input class="form-control mr-sm-2" id="calificacion" type="number" [(ngModel)]="entrenadorToCreate.calificacion" placeholder="Calificacion">
          </div>
          <div class="form-group">
            <input class="form-control mr-sm-2" id="nit" type="text" [(ngModel)]="entrenadorToCreate.nit" placeholder="Nit">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="createEntrenador()" data-dismiss="modal">Agregar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <td class="boton">
    <button  class="btn btn-outline-primary" data-toggle="modal" data-target="#client-information">Agregar entrenador</button>
  </td>
  <td class="boton2">
    <button  class="btn btn-outline-primary" data-toggle="modal" (click)="downloadPdf()">Descargar PDF</button>
  </td>
  <h3 class="tablas">Lista de entrenadores</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nombre</th>
      <th scope="col">Identificación</th>
      <th scope="col">Télefono</th>
      <th scope="col">Direccion</th>
      <th scope="col">Calificacion</th>
      <th scope="col">Nit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entrenador of entrenadores">
      <td>{{entrenador.CodigoEntrenador}}</td>
      <td>{{entrenador.Nombre}}</td>
      <td>{{entrenador.Cedula}}</td>
      <td>{{entrenador.Telefono}}</td>
      <td>{{entrenador.Direccion}}</td>
      <td>{{entrenador.Calificacion}}</td>
      <td>{{entrenador.Nit}}</td>

    </tr>


    </tbody>
  </table>
</div>
