<div class="divtables">

  <h3 class="tablas">Lista de entrenadores</h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Nombre</th>
      <th scope="col">Identificación</th>
      <th scope="col">Deportes Asociado</th>
      <th scope="col">Configuración</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>0001</td>
      <td>Aldahir</td>
      <td>1152702267</td>
      <td>Fútbol</td>
      <td>Activo</td>
    </tr>
    <tr>
      <td>0001</td>
      <td>Aldahir</td>
      <td>1152702267</td>
      <td>Fútbol</td>
      <td>Activo</td>
    </tr>
    <tr>
      <td>0001</td>
      <td>Aldahir</td>
      <td>1152702267</td>
      <td>Fútbol</td>
      <td>Activo</td>
    </tr>
    <tr>
      <td>0001</td>
      <td>Aldahir</td>
      <td>1152702267</td>
      <td>Fútbol</td>
      <td>Activo</td>
    </tr>
    </tbody>
  </table>
</div>
